* {
  margin: 0px;
  padding: 0px;
  font-family: "Fredoka", sans-serif;
}

body {
  background-color: #EFDFE3;
}

header img {
  margin-top: 15px;
  margin-left: 15px;
  width: 50px;
}

.fisrt_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fisrt_section h1 {
  color: #5C162E;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 30px;
}
.fisrt_section .card {
  width: 80%;
  border-radius: 50px;
  border: 1.5px solid #C09AA5;
  background: transparent;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin-bottom: 50px;
}
.fisrt_section .card .flower_container {
  width: 25%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
}
.fisrt_section .card .flower_container .flower {
  grid-column: 1/2;
  grid-row: 1/7;
  width: 100%;
}
.fisrt_section .card .flower_container .flower .f_img {
  width: 80%;
  margin: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}
.fisrt_section .card .flower_container .flower .f_img img {
  width: 100%;
  height: 100%;
}
.fisrt_section .card .flower_container .logo {
  grid-column: 1/2;
  grid-row: 7/9;
  width: 30px;
  height: 30px;
  margin-bottom: 15px;
  margin-left: 15px;
  align-self: flex-end;
}
.fisrt_section .card .flower_container .background {
  grid-row: 6/8;
  grid-column: 1/2;
  align-self: flex-end;
  justify-self: flex-start;
  width: 250px;
  height: 270px;
  margin-bottom: -50px;
  margin-left: -60px;
}
.fisrt_section .card .imgs_container {
  width: 45%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
}
.fisrt_section .card .imgs_container .background_img {
  grid-column: 1/2;
  grid-row: 1/8;
  width: 90%;
  margin: auto;
}
.fisrt_section .card .imgs_container .background_img img {
  width: 100%;
  height: 100%;
}
.fisrt_section .card .imgs_container .top {
  grid-column: 1/2;
  grid-row: 1/3;
  width: 70%;
  height: 100%;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
}
.fisrt_section .card .imgs_container .top img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 25px;
}
.fisrt_section .card .imgs_container .center {
  grid-column: 1/2;
  grid-row: 3/6;
  justify-self: flex-end;
  width: 70%;
  height: 100%;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
}
.fisrt_section .card .imgs_container .center img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 25px;
}
.fisrt_section .card .imgs_container .bottom {
  grid-column: 1/2;
  grid-row: 6/8;
  width: 70%;
  height: 100%;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
}
.fisrt_section .card .imgs_container .bottom img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 25px;
}
.fisrt_section .card .text_container {
  width: 25%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
}
.fisrt_section .card .text_container .text {
  grid-column: 1/2;
  grid-row: 2/8;
  width: 80%;
  justify-self: center;
}
.fisrt_section .card .text_container .text .dear {
  color: #5C162E;
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 10px;
  font-family: "Julee";
}
.fisrt_section .card .text_container .text .msg {
  color: #C09AA5;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
  font-family: "Julee";
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 15;
  display: -webkit-box;
  overflow: hidden;
  width: 100%;
  word-wrap: break-word;
}
.fisrt_section .card .text_container .background {
  grid-row: 6/8;
  grid-column: 1/2;
  align-self: flex-end;
  justify-self: flex-end;
  width: 250px;
  height: 270px;
}
.fisrt_section .down {
  width: 100%;
  margin: auto;
}
.fisrt_section .down .color {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  margin: auto;
}
.fisrt_section .down .color .radio_color_1, .fisrt_section .down .color .radio_color_2, .fisrt_section .down .color .radio_color_3, .fisrt_section .down .color .radio_color_4, .fisrt_section .down .color .radio_color_5, .fisrt_section .down .color .radio_color_6 {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 70px; /* Adjust the width and height of the custom radio */
  height: 70px;
  border-radius: 20px; /* Creates a circular shape */
  outline: none;
  margin-right: 10px;
  padding: 20px;
  cursor: pointer;
}
.fisrt_section .down .color .radio_color_1:checked, .fisrt_section .down .color .radio_color_2:checked, .fisrt_section .down .color .radio_color_3:checked, .fisrt_section .down .color .radio_color_4:checked, .fisrt_section .down .color .radio_color_5:checked, .fisrt_section .down .color .radio_color_6:checked {
  content: url("../../imgs/icons/dark check.png");
}
.fisrt_section .down .color .radio_color_1 {
  background-color: #9ac482;
}
.fisrt_section .down .color .radio_color_2 {
  background-color: #ee92a9;
}
.fisrt_section .down .color .radio_color_3 {
  background-color: #6b3c47;
}
.fisrt_section .down .color .radio_color_4 {
  background-color: #92dcee;
}
.fisrt_section .down .color .radio_color_5 {
  background-color: #eec185;
}
.fisrt_section .down .color .radio_color_6 {
  background-color: #9b7749;
}
.fisrt_section .down .color .choose_color {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none; /* Remove border around the color swatch */
  width: 70px;
  height: 70px;
  border-radius: 20px;
  cursor: pointer;
  /* Style for the color input arrow (specific to certain browsers) */
}
.fisrt_section .down .color .choose_color::-webkit-color-swatch-wrapper {
  padding: 0; /* Adjust padding */
}
.fisrt_section .down .color .choose_color::-webkit-color-swatch {
  border: none; /* Remove border around the color swatch */
  border-radius: 20px; /* Optional: Add border radius */
  border: 2px solid #C09AA5;
}
.fisrt_section .down .flower {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.fisrt_section .down .flower .radio_flower_1, .fisrt_section .down .flower .radio_flower_2, .fisrt_section .down .flower .radio_flower_3, .fisrt_section .down .flower .radio_flower_4, .fisrt_section .down .flower .radio_flower_5, .fisrt_section .down .flower .radio_flower_6 {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 200px; /* Adjust the width and height of the custom radio */
  height: 300px;
  border-radius: 50px; /* Creates a circular shape */
  border: 2px solid #C09AA5;
  outline: none;
  margin-right: 10px;
  padding: 20px;
  cursor: pointer;
}
.fisrt_section .down .flower .radio_flower_1:checked, .fisrt_section .down .flower .radio_flower_2:checked, .fisrt_section .down .flower .radio_flower_3:checked, .fisrt_section .down .flower .radio_flower_4:checked, .fisrt_section .down .flower .radio_flower_5:checked, .fisrt_section .down .flower .radio_flower_6:checked {
  background-color: #C09AA5;
}
.fisrt_section .down .flower .radio_flower_1 {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-image: url("../../imgs/single flower/1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.fisrt_section .down .flower .radio_flower_2 {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-image: url("../../imgs/single flower/2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.fisrt_section .down .flower .radio_flower_3 {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-image: url("../../imgs/single flower/3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.fisrt_section .down .flower .radio_flower_4 {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-image: url("../../imgs/single flower/4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.fisrt_section .down .flower .radio_flower_5 {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-image: url("../../imgs/single flower/5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.fisrt_section .down .flower .radio_flower_6 {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-image: url("../../imgs/single flower/6.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.fisrt_section .down .images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.fisrt_section .down .images div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.fisrt_section .down .images label {
  font-size: 20px;
  color: #5C162E;
  font-weight: bolder;
}
.fisrt_section .down .images input {
  font-size: 15px;
  color: #5C162E;
  outline: none;
  font-weight: bolder;
  font-family: "Fredoka", sans-serif;
  border: 2px solid #C09AA5;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 10px #C09AA5;
}
.fisrt_section .down .images input::-webkit-file-upload-button {
  color: #5C162E;
  font-size: 15px;
  font-weight: bolder;
  font-family: "Fredoka", sans-serif;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #C09AA5;
  padding: 8px 20px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 0px 10px #C09AA5;
  margin-right: 10px;
}
.fisrt_section .down .images input::-webkit-file-upload-button:hover {
  background: rgba(255, 255, 255, 0.6);
}
.fisrt_section .down .text_enter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.fisrt_section .down .text_enter label {
  font-size: 20px;
  color: #5C162E;
  font-weight: bolder;
  align-self: flex-start;
  margin-left: 150px;
}
.fisrt_section .down .text_enter textarea {
  outline: none;
  border: 2px solid #C09AA5;
  border-radius: 25px;
  max-width: 80%;
  max-height: 30vh;
  min-width: 80%;
  min-height: 30vh;
  resize: none;
  background: rgba(255, 255, 255, 0.2);
}
.fisrt_section .down .text_enter textarea:focus {
  outline: none;
  border: 2px solid #C09AA5;
  box-shadow: 0px 0px 10px #C09AA5;
}
.fisrt_section .down .text_enter button {
  padding: 8px 20px;
  outline: none;
  border: 2px solid #C09AA5;
  border-radius: 15px;
  color: #5C162E;
  background-color: transparent;
  font-size: 15px;
  font-weight: bolder;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 150px;
}
.fisrt_section .down .text_enter button:hover {
  background-color: #5C162E;
  color: #C09AA5;
  border: 2px solid #5C162E;
}
.fisrt_section .down .text_enter .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.fisrt_section .down .text_enter .options .head, .fisrt_section .down .text_enter .options .text_color {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.fisrt_section .down .text_enter .options .head label, .fisrt_section .down .text_enter .options .text_color label {
  margin-left: 0px;
}
.fisrt_section .down .text_enter .options .head input[type=text], .fisrt_section .down .text_enter .options .text_color input[type=text] {
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
  border: 2px solid #C09AA5;
  border-radius: 15px;
  font-size: 20px;
  padding: 8px 20px;
  color: #5C162E;
  font-weight: bolder;
}
.fisrt_section .down .text_enter .options .head input[type=color], .fisrt_section .down .text_enter .options .text_color input[type=color] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none; /* Remove border around the color swatch */
  width: 70px;
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
  /* Style for the color input arrow (specific to certain browsers) */
}
.fisrt_section .down .text_enter .options .head input[type=color]::-webkit-color-swatch-wrapper, .fisrt_section .down .text_enter .options .text_color input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0; /* Adjust padding */
}
.fisrt_section .down .text_enter .options .head input[type=color]::-webkit-color-swatch, .fisrt_section .down .text_enter .options .text_color input[type=color]::-webkit-color-swatch {
  border: none; /* Remove border around the color swatch */
  border-radius: 20px; /* Optional: Add border radius */
  border: 2px solid #C09AA5;
}
.fisrt_section .down .next_priv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.fisrt_section .down .next_priv .priv a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #C09AA5;
  font-size: 15px;
  font-weight: 700;
}
.fisrt_section .down .next_priv .priv a img {
  width: 25px;
}
.fisrt_section .down .next_priv .next a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #5C162E;
  font-size: 15px;
  font-weight: 700;
}
.fisrt_section .down .next_priv .next a img {
  width: 25px;
}
.fisrt_section .down .hide {
  display: none;
}
.fisrt_section .down .show {
  display: flex;
}/*# sourceMappingURL=style.css.map */